.qrSection {
  display: flex;
  flex-direction: row;
  background-color: rgb(245, 247, 255);
  width: 100%;
}

.container {
  display: flex;
  padding: 64px 120px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  max-width: 1440px;
  justify-content: space-between;
  margin: 0 auto;
}

.qrText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.getGame {
  font-size: 32px;
   background: linear-gradient(180deg, #38006b -9.62%, #7b2499 106.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}

.getLink {
  color: #521887;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.steps {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: center;
  flex-direction: column;
  max-width: 531px;
  width: 100%;
  font-size: 18px;
}

.stepImage {
  width: 33px;
  height: 34px;
}

.stepOne {
  display: flex;
  gap: 18px;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  line-height: 120%;
  color: #521887;
}

.stepTwo {
  display: flex;
  gap: 18px;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  line-height: 120%;
  color: #521887;
}

.stepThree {
  display: flex;
  gap: 18px;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  line-height: 120%;
  color: #521887;
}

.qrCode {
    width: 130px;
    height: 130px;
}
