.floatingContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  margin: 0 auto;
  padding: 8px 0px;
  z-index: 9999;
  overflow: visible;
  display: none;
}

@media (max-width: 767px) {
  .floatingContainer {
    display: block;
  }
}

.buttonWrapper {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  padding: 4px 0;
}

.borderPulse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1.7px solid rgba(165, 248, 21, 0.6);
  background-color: rgba(165, 248, 21, 0.4);
  animation: scaleBorderUS1 1.5s ease-in infinite;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}


@keyframes scaleBorderUS1 {
  0% { transform: scale(1); opacity: 0; }
  10% { transform: scale(1.03); opacity: 1; }
  60% { transform: scaleX(1.05) scaleY(1.15); opacity: 0; filter: blur(0.8px); }
}

.downloadBtn {
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  padding: 6px 12px;
  background: linear-gradient(179deg, #69ef09 4%, #2fb009 50%, #00870d 96%),
    linear-gradient(179deg, #88ff59 2%, #009d0d 93%);
  box-shadow: 0 3px 0.5px #01630a;
  animation: scaleV3 1.5s ease-in-out infinite forwards;
  z-index: 2;
}

@keyframes scaleV3 {
  0%   { transform: scale(1.03); }
  1%   { transform: scale(1); }
  20%  { transform: scale(1.03); }
  100% { transform: scale(1.03); }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: clamp(4px, 1vw, 8px);
  padding: 8px 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  font-size: clamp(20px, 4.4vw, 22px);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 0.7px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.content p {
  margin: 0;
  white-space: nowrap;
  animation: none;
  font-weight: bolder;
}

.iconRight {
  width: clamp(18px, 6vw, 30px);
  height: clamp(18px, 6vw, 30px);
}

.shimmer {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  width: 30%;
  border-radius: 6px;
  pointer-events: none;
  background-size: 1rem 1rem;
  background: linear-gradient(
      to right,
      rgba(255,255,255,0),
      rgba(255,255,255,0.5),
      rgba(255,255,255,0)
    )
    no-repeat 0 0;
  animation: shimmerAnimation 2s linear infinite;
  z-index: 4;
}

@keyframes shimmerAnimation {
  0% { transform: translate(-1000px); }
  100% { transform: translate(1000px); }
}

@media (min-width: 768px) {
  .downloadBtn {
    display: none;
  }
}
