.buttonCTA {
  background: linear-gradient(182deg, #b976ec 1.74%, #9d69f6 120.39%);
  padding: 10px 50px;
  border-radius: 33px;
  white-space: nowrap;
  font-size: 20px;
  color: white;
  box-shadow: 1px 2px 0 0 #693683;
  margin-top: 40px;
  cursor: pointer;
  font-family: var(--font-quicksand);
  font-weight: 700;
}