.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 1;
}

.ratingContainer,
.apkInfo {
  position: absolute;
  z-index: 2; /* ensure content is above overlay */
}

.hero_bgImage {
  width: 100%;
  overflow: visible;
}

.topSection {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif;
}

.heroImageTop {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
  // filter: brightness(1.15) contrast(1.25) saturate(1.2);
}

.ratingContainer {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 18px;

  color: #fff;
  font-family: inherit;

  @media (min-width: 768px) {
    left: 75%;
    bottom: 10px;
  }
}

.divider {
  width: 2px;
  height: 80px;
  background: rgba(255, 255, 255, 0.3);
}

.ratingBlock,
.downloadBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ratingTop {
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.star {
  color: #ffd700;
  font-size: 22px;
}

.apkInfo {
  position: absolute;
  bottom: 5px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.apkVerifiedRow {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.apkPermission {
  font-size: 3vw;
  color: white;
  word-break: break-word;
}

.gameQRImage {
  width: 10rem;
  padding-left: 40%;
}
